* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.sec1 {
    margin-bottom: 10vh;
    margin-left: 10%;
    margin-top: 5%;
}

.nav {
    height: 40px;
    width: 400px;
    margin-left: 5%;
}

.sec1-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

h1 {
    font-size: 150px;
}

p {
    margin: 0 0 0 50px;
    height: 65px;
}

.sec2{
    display: flex;
    margin-left: 10%;
}

.sec-left {
    display: flex;
    align-items: flex-end;
}

.school-link {
    height: 40px;
    width: 300px;
}

.acc {
    display: flex;
}

.join {
    height: 40px;
    width: 145px;
}

.login {
    height: 40px;
    width: 145px;
    margin-left: 10px;
}